
/*Variables */
:root {
    /* Colors */
    --background-color: #2c266d;
    --base-link-color: #ffffff;
    --primary-color: #8C8BDA;
    --secondary-color: #eba;
    --accent-color: #555;
    --testimonial-color1: rgba(178, 162, 222, 1);
    --testimonial-color2: rgba(223, 196, 133, 1);
    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Outfit', sans-serif;
    /*Font Sizes*/
    --base-font-size: 1rem;
    --h1-font-size: 4rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
}

/* Base Element Styles */
body {
    background: var(--background-color);
    color: white;
    font: var(--base-font-size) / 1.6 var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    text-transform: capitalize
}

a {
    font-family: var(--font-primary);
    color: var(--base-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Layout Styles*/
main {
    max-width: 1440px;
    margin: 0 auto;
}


/* Header Styles*/

header {
    display: flex;
    align-items: center;
    line-height: 4rem;
    font-size: 1.25rem;
}

.Logo {
    margin-right: auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
    flex-basis: 33.33%;
    gap: 30px;
}

.menu-item {
    text-align: right;
}

/*Section Styles*/

.hero {
    display: flex;
    justify-content: space-between;
    background: var(--background-color) url(../images/computer.png) no-repeat;
    height: 473px;
    font: 2rem / 1.6 var(--font-primary);
}

.hero h1 {
    margin-top: 5rem;
    width: 35rem;
}
.Sub-text {
    width: 50rem;
}
/* Footer Styles*/
footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    margin-top: 5rem;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.text-container h2 {
    text-align: left;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Hero Section Styles */
.hero-section {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #ffffff;
    background-repeat: no-repeat;
    height: calc(50vh - 5rem);
    /* Set the height to 50% of the viewport height minus 5ren */
    margin-bottom: 5rem;
}

.hero-section.task {
    background-image: url(../images/task.png);
    background-position: left;
    justify-content: flex-end;
    text-align: right;
    height: 466px;
}

.hero-section.clip {
    background-image: url(../images/clip.png);
    background-position: right;
    justify-content: flex-start;
    text-align: left;
    height: 300px;
}

.hero-content {
    width: 50rem;
}

.ready {
    display: flex;
    height: 25rem;
    background-color: var(--primary-color);
    margin-top: 18rem;
    margin-bottom: 10em;
    border-radius: 50px;
    align-items: center;
}

.pill-link-black-button a {
    display: inline-block;
    padding: 50px 25px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pill-link-black-button:hover {
    background-color: var(--accent-color);
}

.hero_center.ready{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_center .hero-content {
    text-align: center;
}

.hero_center .hero-content h1,
.hero-content h2 {
    font-size: 2.5rem; margin-bottom: 10px;
}

.hero_center .hero-content p,
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.hero_center .hero-content a.pill-link-black-button, .hero-content a {
    display: inline-block;
    padding: 18px 30px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero_center .hero-content a.pill-link-black-button:hover,
.hero-content a:hover {
    background-color: var(--accent-color);
}

/* Form Styles*/
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.column form input[type="email"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.column form input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.column form input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.circular-image {
    border-radius: 50%;
    width: 119px;
    height: 119px;
}

/* Testimonials Styles */
.testimonials-header {
    text-align: center;
    margin-bottom: 5rem;
}

.testimonials-header h2 {
    margin-bottom: 10px;
}

.testimonial h2 {
    margin-top: 4rem;
}

.testimonials-header p {
    font-size: 1.25rem;
    color: grey;
}

.testimonial-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 28px;
}

.testimonial .circular-image {
    position: absolute;
    top: -60px;
}

.testimonial-color1 {
    background-color: var(--testimonial-color1);
}
.testimonial-color2 {
    background-color: var(--testimonial-color2);
}

a.pill-link {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.pill-link:hover {
    background-color: var(--accent-color);
}

a.alt-pill-link {
    border: #89beb1 solid 1px;
    background-color: none;
    border-radius: 25px;
    padding: 15px 20px;
    border: 2px solid #589801;
    background: rgba(161, 214, 214, 6.00);
}


/* Media Queries */
@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .hero h1 {
        font-size: calc(var(--h1-font-size) + 0.75);
    }

    .sub-text {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero {
        background-image: none;
    }

    .hero h1 {
        font-size: calc(var(--h1-font-size) + 0.5);
    }

    .sub-text {
        width: 90%;
    }

    .hero-section.clip,
    .hero-section.task {
        background-image: none;
    }

    .testimonial-cards {
        flex-direction: column;
        align-items: center;
    }

    .testimonial {
        margin-top: 5rem;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 488px) {
    main {
        padding: 0 20px;
    }

    .hero h1 {
        font-size: calc(var(--h1-font-size) + 0.4);
    }

    .sub-text {
        width: 100%;
    }
}