@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Outfit:400,500,700,600|Roboto:400");

.desktop {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #000130;
    overflow: hidden;
    width: 1440px;
    height: 3091px;
    position: relative;
}

.desktop .overlap {
    position: absolute;
    width: 1690px;
    height: 1769px;
    top: -425px;
    left: 99px;
}

.desktop .BG-circle {
    position: absolute;
    width: 1690px;
    height: 1457px;
    top: 0;
    left: 0;
}

.desktop .ellipse {
    position: absolute;
    width: 679px;
    height: 679px;
    top: 778px;
    left: 1011px;
    background-color: #86cfd0cc;
    border-radius: 339.5px;
    filter: blur(306px);
}

.desktop .ellipse-2 {
    position: absolute;
    width: 679px;
    height: 679px;
    top: 0;
    left: 0;
    background-color: #8e8edb;
    border-radius: 339.5px;
    filter: blur(306px);
}

.desktop .logos {
    position: absolute;
    width: 1069px;
    height: 125px;
    top: 1174px;
    left: 87px;
}

.desktop .featured-on {
    position: absolute;
    width: 145px;
    top: 0;
    left: 0;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #ffffff;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    white-space: nowrap;
    font-style: var(--sub-heading-font-style);
}

.desktop .overlap-group {
    position: absolute;
    width: 1065px;
    height: 90px;
    top: 35px;
    left: 2px;
    background-color: #322b66;
    border-radius: 14px;
}

.desktop .image {
    width: 200px;
    height: 24px;
    top: 33px;
    left: 396px;
    position: absolute;
    object-fit: cover;
}

.desktop .img {
    width: 225px;
    height: 67px;
    top: 11px;
    left: 90px;
    position: absolute;
    object-fit: cover;
}

.desktop .image-2 {
    width: 81px;
    height: 35px;
    top: 27px;
    left: 677px;
    position: absolute;
    object-fit: cover;
}

.desktop .image-3 {
    width: 136px;
    height: 27px;
    top: 31px;
    left: 839px;
    position: absolute;
    object-fit: cover;
}

.desktop .hero {
    position: absolute;
    width: 1040px;
    height: 528px;
    top: 600px;
    left: 89px;
}

.desktop .object-other {
    width: 496px;
    height: 528px;
    left: 540px;
    position: absolute;
    top: 0;
}

.desktop .object-other-2 {
    position: absolute;
    width: 496px;
    height: 528px;
    top: 0;
    left: 24px;
    object-fit: cover;
}

.desktop .overlap-2 {
    position: absolute;
    width: 500px;
    height: 272px;
    top: 104px;
    left: 0;
}

.desktop .discover-and-collect {
    position: absolute;
    width: 500px;
    top: 0;
    left: 0;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: #ffffff;
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    font-style: var(--h1-font-style);
}

.desktop .the-most-secure {
    position: absolute;
    width: 373px;
    top: 214px;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #ffffff;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.desktop .group {
    left: 0;
    position: absolute;
    width: 232px;
    height: 59px;
    top: 414px;
}

.desktop .buy-nfts-wrapper {
    position: relative;
    width: 230px;
    height: 59px;
    background-color: #8e8edb;
    border-radius: 127px;
}

.desktop .buy-nfts {
    position: absolute;
    top: 16px;
    left: 69px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #ffffff;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    white-space: nowrap;
    font-style: var(--sub-heading-font-style);
}

.desktop .overlap-wrapper {
    left: 270px;
    position: absolute;
    width: 232px;
    height: 59px;
    top: 414px;
}

.desktop .sell-nfts-wrapper {
    position: relative;
    width: 230px;
    height: 59px;
    border-radius: 127px;
    border: 1px solid;
    border-color: #9dd7d8;
}

.desktop .sell-nfts {
    position: absolute;
    top: 15px;
    left: 68px;
    font-family: "Outfit", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1.44px;
    line-height: 27.5px;
    white-space: nowrap;
}

.desktop .navbar {
    position: absolute;
    width: 1075px;
    height: 28px;
    top: 537px;
    left: 88px;
}

.desktop .krypto {
    width: 87px;
    left: 0;
    font-weight: 700;
    position: absolute;
    top: 0;
    font-family: "Outfit", Helvetica;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27.5px;
}

.desktop .text-wrapper {
    left: 599px;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    top: 0;
    font-family: "Outfit", Helvetica;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27.5px;
}

.desktop .text-wrapper-2 {
    left: 723px;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    top: 0;
    font-family: "Outfit", Helvetica;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27.5px;
}

.desktop .text-wrapper-3 {
    left: 855px;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    top: 0;
    font-family: "Outfit", Helvetica;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27.5px;
}

.desktop .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 994px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27.5px;
    white-space: nowrap;
}

.desktop .analytics {
    position: absolute;
    width: 1051px;
    height: 385px;
    top: 1384px;
    left: 89px;
}

.desktop .hero-2 {
    top: 49px;
    left: 549px;
    position: absolute;
    width: 504px;
    height: 288px;
}

.desktop .built-in-analytics {
    position: absolute;
    width: 500px;
    top: 0;
    left: 0;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: #ffffff;
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
}

.desktop .p {
    position: absolute;
    width: 373px;
    top: 133px;
    left: 0;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #ffffff;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
}

.desktop .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 73px;
    position: absolute;
    top: 230px;
    left: 0;
    background-color: #8e8edb;
    border-radius: 127px;
}

.desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #ffffff;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    white-space: nowrap;
    font-style: var(--sub-heading-font-style);
}

.desktop .text-wrapper-6 {
    top: 0;
    left: 553px;
    position: absolute;
    width: 121px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #9dd7d8;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    font-style: var(--sub-heading-font-style);
}

.desktop .object-other-3 {
    width: 452px;
    height: 385px;
    left: 0;
    background-image: url(./../img/object-other-18.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
}

.desktop .get-our-app {
    position: absolute;
    width: 933px;
    height: 347px;
    top: 1376px;
    left: 188px;
}

.desktop .hero-3 {
    top: 54px;
    left: 0;
    position: absolute;
    width: 504px;
    height: 288px;
}

.desktop .text-wrapper-7 {
    top: 5px;
    left: 4px;
    position: absolute;
    width: 121px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #9dd7d8;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    font-style: var(--sub-heading-font-style);
}

.desktop .object-other-4 {
    width: 375px;
    height: 347px;
    left: 556px;
    background-image: url(./../img/object-other-17.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
}

.desktop .testimonials {
    position: absolute;
    width: 1065px;
    height: 573px;
    top: 1799px;
    left: 187px;
}

.desktop .overlap-3 {
    position: absolute;
    width: 1065px;
    height: 330px;
    top: 2458px;
    left: 185px;
    background-image: url(./../img/rectangle-22.svg);
    background-size: 100% 100%;
}

.desktop .are-you-ready {
    position: absolute;
    width: 358px;
    top: 42px;
    left: 356px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #000000;
    font-size: var(--sub-heading-font-size);
    text-align: center;
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    white-space: nowrap;
    font-style: var(--sub-heading-font-style);
}

.desktop .be-a-part-of-thenext {
    position: absolute;
    width: 415px;
    height: 113px;
    top: 79px;
    left: 326px;
}

.desktop .get-started-wrapper {
    display: inline-flex;
    top: 224px;
    left: 397px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 73px;
    position: absolute;
    border-radius: 127px;
}

.desktop .rectangle {
    position: absolute;
    width: 1440px;
    height: 15px;
    top: 3076px;
    left: 0;
}

.desktop .krypto-2 {
    position: absolute;
    width: 173px;
    top: 2871px;
    left: 188px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #ffffff;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    font-style: var(--sub-heading-font-style);
}

.desktop .text-wrapper-8 {
    position: absolute;
    width: 293px;
    top: 2870px;
    left: 904px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .home-about-buy-nfts {
    position: absolute;
    width: 69px;
    top: 2911px;
    left: 368px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31px;
}

.desktop .browse-nfts-buy-nfts {
    position: absolute;
    width: 97px;
    top: 2911px;
    left: 548px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31px;
}

.desktop .email-linkedin {
    position: absolute;
    width: 74px;
    top: 2911px;
    left: 732px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31px;
}

.desktop .text-wrapper-9 {
    position: absolute;
    width: 113px;
    top: 2871px;
    left: 368px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .market {
    position: absolute;
    width: 50px;
    height: 12px;
    top: 2876px;
    left: 549px;
}

.desktop .text-wrapper-10 {
    position: absolute;
    width: 128px;
    top: 2871px;
    left: 732px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap-4 {
    position: absolute;
    width: 342px;
    height: 42px;
    top: 2940px;
    left: 908px;
    background-color: #0e0743;
    border-radius: 37px;
}

.desktop .text-wrapper-11 {
    position: absolute;
    width: 113px;
    top: 5px;
    left: 28px;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 31px;
    white-space: nowrap;
}

.desktop .submit-wrapper {
    display: flex;
    width: 116px;
    height: 42px;
    top: 0;
    left: 226px;
    background-color: #8e8edb;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 73px;
    position: absolute;
    border-radius: 127px;
}

.desktop .submit {
    position: relative;
    width: fit-content;
    margin-top: -9px;
    margin-bottom: -7px;
    margin-left: -52px;
    margin-right: -52px;
    font-family: var(--sub-heading-font-family);
    font-weight: var(--sub-heading-font-weight);
    color: #ffffff;
    font-size: var(--sub-heading-font-size);
    letter-spacing: var(--sub-heading-letter-spacing);
    line-height: var(--sub-heading-line-height);
    white-space: nowrap;
    font-style: var(--sub-heading-font-style);
}

:root {
    --body-text-font-family: "Roboto-Regular", Helvetica;
    --body-text-font-weight: 400;
    --body-text-font-size: 18px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 27.5px;
    --body-text-font-style: normal;
    --h1-font-family: "Outfit-Bold", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 70px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 100%;
    --h1-font-style: normal;
    --sub-heading-font-family: "Outfit-SemiBold", Helvetica;
    --sub-heading-font-weight: 600;
    --sub-heading-font-size: 18px;
    --sub-heading-letter-spacing: 1.44px;
    --sub-heading-line-height: 27.5px;
    --sub-heading-font-style: normal;
    --h2-font-family: "Outfit-Bold", Helvetica;
    --h2-font-weight: 700;
    --h2-font-size: 55px;
    --h2-letter-spacing: 0px;
    --h2-line-height: 60px;
    --h2-font-style: normal;
}
